<section class="container forms">
    <div class="form singup">
        <div class="form-content">
            <header>Sign Up</header>

            <form #myForm="ngForm" [formGroup]="signupForm" (ngSubmit)="signUpUser()" action="#">
                <div class="field input-field">
                    <input type="name" formControlName="name" placeholder="Name" class="input" required>
                </div>
                <div class="field input-field">
                    <input type="surname" formControlName="surname" placeholder="Surname" class="input" required>
                </div>
                <div class="field input-field">
                    <input type="email" formControlName="email" placeholder="Email" class="input" required>
                </div>
                
                    <div class="field input-field">
                        <input [type]="isClicked == false ? 'text' : 'password' " formControlName="password"
                               placeholder="Password" 
                               class="password" required> 
    
                        <i class="eye-icon fas"
                           type="button"
                           (click)="isClicked = !isClicked"
                           [class.fa-eye]="!isClicked"
                           [class.fa-eye-slash]="isClicked">
                        </i>
                    </div>
                    <div class="field btn-field">
                        <button type="submit" [disabled]="!myForm.valid" >SIGN UP</button>
                    </div>
                    <div class="form-link">
                        <span>Have already an account? <a routerLink="../Login" class="link login-link">Log In</a></span>
                    </div>
            </form>
        </div>
    </div>
    </section>