
header{
    z-index: 100;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

img{
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 0; */
}

.logo-text{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#000000 !important;
}

.navbar {
    border-bottom: 0px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.navbar .nav-link {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #c9b39f;
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.btn-brand {
    background-color: #c9b39f;
    color: #fff;
}

.btn-brand:hover{
    background-color: #807468;
    color: #fff;
    cursor: pointer;
}

.section-name{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.web {
margin-top: 2rem;
}

/* WEB PART */

.web-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minman(220px, auto));
    gap: 1.5rem;
}

.product-box{
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4px;
}

.product-area {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.product-area .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7b88aca4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.4s ease;
}

.product-area img {
    transition: all 0.4s ease;
    height: 100%;
    object-fit: cover;
}

.product-area .overlay p{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.product-area:hover .overlay {
    opacity: 1;
}

.product-area:hover img{
    transform: scale(1.1);
}


.btn-heart{
    background-color: transparent;
    color: #fff;
    border: none;
    
}

.btn-heart:hover{
    background-color: transparent;
    border: none;
    color: #d6bde4;
    cursor: pointer;
}

.btn-basket{
    background-color: transparent;
    color: #fff;
    border: none;
    
}

.btn-basket:hover{
    background-color: transparent;
    border: none;
    color: #d6bde4;
    cursor: pointer;
}

.btn-group{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.add-item{

}

