<!-- BANNER -->
<section class="shop-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="banner-title">Products</h2>
            </div>
        </div>
    </div>
</section>

<!--SELECT OPTION -->

<div class="row row-2">
    <select name="Sort" id="sort">
        <option>Default Sorting</option>
        <option>Sort by Price</option>
        <option>Sort by Sale</option>
        <option>Sort by Rating</option>
    </select>
</div>


<section class="web container" id="shop">
  
    
    <div class="web-content">
        <div class="row">
            <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                <div class="product-area">
                    <img src="main_photo.jpg" alt="" class="product-img">
                    <div class="overlay ">
                        <p>{{product.name}} {{product.brand}}</p>
                        <h2>{{product.price}} PLN</h2>
                        <div class="btn-group">
                            <button class="btn-heart"><i class="fa fa-heart"></i></button>
                            <button class="btn-basket"><i class="fa fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                <div class="product-area">
                    <img src="main_photo.jpg" alt="" class="product-img">
                    <div class="overlay ">
                        <p>{{product.name}} {{product.brand}}</p>
                        <h2>{{product.price}} PLN</h2>
                        <div class="btn-group">
                            <button class="btn-heart"><i class="fa fa-heart"></i></button>
                            <button class="btn-basket"><i class="fa fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                <div class="product-area">
                    <img src="main_photo.jpg" alt="" class="product-img">
                    <div class="overlay ">
                        <p>{{product.name}} {{product.brand}}</p>
                        <h2>{{product.price}} PLN</h2>
                        <div class="btn-group">
                            <button class="btn-heart"><i class="fa fa-heart"></i></button>
                            <button class="btn-basket"><i class="fa fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                <div class="product-area">
                    <img src="main_photo.jpg" alt="" class="product-img">
                    <div class="overlay ">
                        <p>{{product.name}} {{product.brand}}</p>
                        <h2>{{product.price}} PLN</h2>
                        <div class="btn-group">
                            <button class="btn-heart"><i class="fa fa-heart"></i></button>
                            <button class="btn-basket"><i class="fa fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                <div class="product-area">
                    <img src="main_photo.jpg" alt="" class="product-img">
                    <div class="overlay ">
                        <p>{{product.name}} {{product.brand}}</p>
                        <h2>{{product.price}} PLN</h2>
                        <div class="btn-group">
                            <button class="btn-heart"><i class="fa fa-heart"></i></button>
                            <button class="btn-basket"><i class="fa fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngFor="let product of products" class="col-lg-4 col-sm-6">
                <div class="product-area">
                    <img src="main_photo.jpg" alt="" class="product-img">
                    <div class="overlay ">
                        <p>{{product.name}} {{product.brand}}</p>
                        <h2>{{product.price}} PLN</h2>
                        <div class="btn-group">
                            <button class="btn-heart"><i class="fa fa-heart"></i></button>
                            <button class="btn-basket"><i class="fa fa-shopping-basket"></i></button>
                        </div>
                    </div>
                </div>
            </div>

<div class="page-btn">
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>&#8594;</span>
</div>

        </div>
    </div>
</section>
