
header{
    z-index: 100;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

img{
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 0; */
}

.logo-text{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#000000 !important;
}

.navbar {
    border-bottom: 0px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.navbar .nav-link {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #c9b39f;
}


   
/*SIDEBAR*/
.sidebar {
    margin-left: 2.5rem;
  margin-right: 2.5rem;
  width: 100px;
}


/* WEB PART */

.web-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minman(220px, auto));
    gap: 1.5rem;
}

.product-box{
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4px;
}

.product-area {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.product-area .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7b88aca4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.4s ease;
}

.product-area img {
    transition: all 0.4s ease;
    height: 100%;
    object-fit: cover;
}

.product-area .overlay p{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.product-area:hover .overlay {
    opacity: 1;
}

.product-area:hover img{
    transform: scale(1.1);
}

/* CONTACT */

#map {
    height: 100%;
    min-height: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 24px;
}

.form-group,
label,
.form-control {
    width: 100%;
    display: block;
    color: rgb(85, 68, 58);
    font-size: 20px;
}

.form-control{
    border: 1px solid #8b7e757a;
    background-color: #8b7e757a;
    color: white; 
    border-radius: 0;  
    padding: 15px; 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.form-control:focus{
    outline: 0;
    border-color: #8b7e757a;
}

.form-control::placeholder {
    color: white;
}

input.form-control {
    height: 45px;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 70px;

}

