<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-transparent pt-1 pb-1">
                <a class=" navbar-brand logo-text" routerLink="/mainPage">MY</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainmenu"
                    aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            

            <div class=" collapse navbar-collapse menu_cart" id="mainmenu">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/mainPage">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/shopCart">Shop</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/mainPage">Contact</a>
                      </li>
                    <li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-heart"></i><span> 1</span></a></li>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search product">
                    </div>
                    <li class="nav-item"><button routerLink="cart" class="nav-link">
                      <i style="font-size: 30px;" class="fas fa-shopping-basket"></i>
                      <div class="badge bg-danger">{{totalItemNumber}}</div>
                    </button></li>
                    <!--<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-shopping-basket"></i></a></li>-->
                    <!--<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-search"></i></a></li>-->
                    <!--<li class="nav-item"><input type="text" placeholder=" "><button type="submit" class="btn">Search</button></li>-->
                </ul>
            </div>
        
    </nav>
</header>
