<footer>
    <div class="footer-top">
      <div class="container">
        <div class="row ">
          <div class="col-md-5">
            <h4 class="logo-text text-center">MY</h4>
            <p  class="text-white text-center" > Find us!</p>
            <div class="social-icons-1 text-center">
              <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
              <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
            </div>
          </div>
          <div class="col-md-2">
            <h5 class="title-sm">Navigation</h5>
            <div class="footer-links">
              <a href="#">Services</a>
              <a href="#">Our work</a>
              <a href="#">Our team</a>
              <a href="#">Blog</a>
            </div>
          </div>
          <div class="col-md-2">
            <h5 class="title-sm">More</h5>
            <div class="footer-links">
              <a href="#">FAQ's</a>
              <a href="#">Privacy & Policy</a>
              <a href="#">Licences</a>
            </div>
          </div>
          <div class="col-md-2">
            <h5 class="title-sm">Contact</h5>
            <div class="footer-links">
              <p class="mb">ul. Piastowska 23, 63-700 Krotoszyn</p>
              <p class="mb">tel. 883 074 274</p>
              <p class="mb">MY@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="mb-0">Zuzanna Jagodzińska & Mateusz Grześkowiak & Konrad Dzięcioł & Mateusz Goździak 2022</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
