<section class="container forms">
    <div class="form-login">
        <div class="form-content">
            <header>Login</header>

            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password">
                    <i [ngClass]="test()"></i>
                </div>

                <div class="two-col-grid">
                    <label class="checkbox-wrap checkbox-primary">Remember Me
                        <input type="checkbox" checked>
                        <span class="checkmark"></span>
                      </label>

                      <div class="form-link">
                        <a href="#" class="forgot-password">Forgot your password?</a>
                      </div>
                </div>

                <div class="field btn-field">
                    <button>LOGIN</button>
                </div>

                <div class="form-link">
                    <span>Don't have an account? <a routerLink="../Signup" class="link signup-link">Sign Up</a></span>
                </div>
                
            </form>
        </div>
    </div>
</section>
