<html>
    <Head>
        <link rel="stylesheet" href="login.component.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/19df4d69fd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </Head>

<section class="container forms">
    <div class="form signup">
        <div class="form-content">
            <header>Sign Up</header>

            <form action="#">
                <div class="field input-field">
                    <input type="email" placeholder="Email" class="input">
                </div>

                <div class="field input-field">
                    <input type="name" placeholder="Name" class="input">
                </div>

                <div class="field input-field">
                    <input type="Surname" placeholder="Surame" class="input">
                </div>

                <div class="field input-field">
                    <input type="Surname" placeholder="Surame" class="input">
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password" class="password">
                    <i class="fas fa-eye-slash eye-icon"></i>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Confirm password" class="password">
                    <i class="fas fa-eye-slash eye-icon"></i>
                </div>

                <div class="field btn-field">
                    <button>SIGN UP</button>
                </div>

                <div class="form-link">
                    <span>Have already an account? <a href="login.component.html" class="link login-link">Log In</a></span>
                </div>
                
            </form>
        </div>
    </div>
</section>

</html>