<body data-bs-spy="scroll" data-bs-target=".navbar">

    <div class="header-wrapper">
        <section class="main-header-section">
            <div class="container main-header-content">
                <a href="#" class="logo-text" alt="MY">MY</a>
                <div class="search-box">
                    <form method="get" class="input-search">
                        <input class="input-area" type="text">
                        <input type="search" value class="btn">
                    </form>
                </div>
                <div class="main-header-rside">
                    <ul class="main_bar_items_list">
                        <li class="main_bar_items_list main_bar_items_listshow">
                            <span class="link">
                                <i class="fe fa-user">
                                </i>
                                <span class="items-list-text user-area-menu-text">Account</span>
                            </span>
                            <div class="listshow">
                                <ul>
                                    <li>
                                        <a href="../views/auth/login/login.component.html">Login</a>
                                    </li>
                                    <li>
                                        <a href="../views/auth/signup/signup.component.html">Sign Up</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <div class="cart main_bar_items_list main_bar_items_listshow">
                        <!-- <span class="link main_bar_items_list_cart_icon">
                            <i class="fa fa-shopping-basket"></i>
                        </span>
                        <span class="main_bar_items_list_text">Basket</span>
                        <span class="cart-amount-now main_CartAmountNow">0</span> -->
                        <a href="/cart/">
                            <div class="Cash">
                                <span class="main_CartCashTotal main_cashFormat" data-price="0">0,00&nbsp;zł</span>
                            </div>
                            <div class="basket-wrapper">
                                <i class="fa fa-shopping-basket"></i>
                                <div class="counter">
                                    <span class="main-cart-amount main_CartAmount">0</span>
                                </div>
                            </div>
                            <div class="cart-text">Basket</div>
                        </a>
                        <div class="listshow listshow-cart">
                            <ul class="products hidden">
                                <li data-nosnippet class="prod-temp hidden" data-hash="{{:hash:}}" data-amount="{{:amount:}}">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <a href="#{{:url:}}" rel="nofollow">
                                                    <span class="prod-name">{{:name:}}</span>
                                                </a>
                                            </div>
                                            <span class="prod-all">
                                                "{{:amount:}} x"
                                                <strong class="main_cashFormat" data-price="{{:price:}}" data-tax="{{:tax:}}" data-price-type-placeholder>-,--&nbsp;</strong>
                                            </span>
                                        </div>
                                        <div class="col-xs-1">
                                            <i class="close-icon main_removeProdFromCart"></i>
                                        </div>
                                    </div>
                                </li>
                                <li data-nosnippet class="prod-temp" data-amount="0"></li>
                            </ul>
                            <span class="cart-empty hidden"> Your casket is empty</span>
                            <div class="actions">
                                <div class="cart-sum">
                                    <div class="summ-ele is-free-shipping hidden main_IsFreeShipping">
                                        <span> Do bezpłatnej dostawy brakuje</span>
                                        <span class="value main_cashFormat main_IsFreeShipping">-,--&nbsp;</span>
                                    </div>
                                    <div class="sum-ele main-cart-amount">
                                        <span> Price</span>
                                        <div class="value main_CartCashTotal free-shipping-wrapper hidden main_IsFreeShippingOn">
                                            <span class="value-upper free-sipping-info">Free shipping!</span>
                                        </div>
                                        <div class="sum-ele main_cash-total-price">
                                            <span>Summary</span>
                                            <span class="value main_CartCashTotal main_cartFreeShipping main_cashFormat" data-free-shippingdata-free-shipping-type="brutto" data-price="0">-,--&nbsp;</span>
                                        </div>
                                    </div>
                                    <a href="/cart/" class="btn btn-primary btn-block">Do shipping</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="menu-section">
            <div class="container">
                <section class="menu">
                    <ul class="items-menu-list">
                        <li class="up-down-menu"></li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</body>
