
header{
    z-index: 100;
}

.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

img{
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 0; */
}

.logo-text{
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color:#000000 !important;
}

.navbar {
    border-bottom: 0px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 0.02);
    backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
}

.navbar .nav-link {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.navbar-light .navbar-nav .nav-link.active {
    color: #c9b39f;
}


   /* HOME - MAIN */
#home{
    background: linear-gradient(to top, rgba(93, 106, 131, 0.445) 20%, rgba(241, 240, 240, 0.295) 86%), url(main_photo.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#home h1{
    font-weight: 700;
    font-size: 100px;
}

#home p{
    max-width: 550px;
    margin: 18px auto;
    font-size: 20px;
}

.btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 0;
    font-family: var(--font-base), sans-serif;
    font-size: 15px;
    transition: all 0.4s ease;
}

.btn-brand {
    background-color: #c9b39f;
    color: #fff;
}

.btn-brand:hover{
    background-color: #807468;
    color: #fff;
    cursor: pointer;
}


section{
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.btn-brand {
    background-color: #c9b39f;
    color: #fff;
}

.btn-brand:hover{
    background-color: #807468;
    color: #fff;
    cursor: pointer;
}

.section-name{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.web {
margin-top: 2rem;
}
/*SIDEBAR*/
.sidebar {
    margin-left: 2.5rem;
  margin-right: 2.5rem;
  width: 100px;
}


/* WEB PART */

.web-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minman(220px, auto));
    gap: 1.5rem;
}

.product-box{
    position: relative;
}

.product-box:hover {
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4px;
}

.product-area {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
}

.product-area .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7b88aca4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.4s ease;
}

.product-area img {
    transition: all 0.4s ease;
    height: 100%;
    object-fit: cover;
}

.product-area .overlay p{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.product-area:hover .overlay {
    opacity: 1;
}

.product-area:hover img{
    transform: scale(1.1);
}

/* CONTACT */

#map {
    height: 100%;
    min-height: 500px;
    width: 100%;
}

.form-group {
    margin-bottom: 24px;
}

.form-group,
label,
.form-control {
    width: 100%;
    display: block;
    color: rgb(85, 68, 58);
    font-size: 20px;
}

.form-control{
    border: 1px solid #8b7e757a;
    background-color: #8b7e757a;
    color: white; 
    border-radius: 0;  
    padding: 15px; 
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.form-control:focus{
    outline: 0;
    border-color: #8b7e757a;
}

.form-control::placeholder {
    color: white;
}

input.form-control {
    height: 45px;
}

.two-col-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 70px;

}

/* COOPERATION SECTION */
#cooperation p{
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding: 15px;

}

#cooperation h4{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;

}

/* CALL TO ACTION/ JUMBOTRON SECTION */
#calltoaction {
    background-color: #8b7e757a;
}


/* FOOTER */

.footer-top {
    padding-top: 80px;
    padding-bottom: 30px;
}

.footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1) ;
}

footer .footer-links a {
    color: #898fa1;
    display:block;
    font-weight: 400;
    font-size: 17px;
}

footer .footer-links a:hover {
    color: #302b26;
}

.mb {
    color: #1d19169d;
    font-size: 17px;
}

footer p{
    font-size: 17px;
    text-align: left;  
}

.title-sm {
    font-size: 17px;
    text-align: left;
}

footer .logo-text {
    text-align: left;
}


.fa {
    padding: 12px;
    margin: 14px;
  }

.social-icons-1 a {
    color: #898fa1;
    transition: all 0.4s ease;
    font-size: 28px;
}
.social-icons-1 a:hover {
    color: #302b26;
}



.jumbotron {
    background-color: transparent;
    margin-top: 50px;
}

/* SHOP CART */

.undertext {
    font-size: 14px;
    line-height: .8;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .7px;
    position: relative;
    z-index: 2;
}

.undertext a {
    color: #8e8d8d;
}

/*------- ALL PRODUCTS -----------*/

.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}

select:focus{
    outline: none;
}



.btn-heart{
    background-color: transparent;
    color: #fff;
    border: none;
    
}

.btn-heart:hover{
    background-color: transparent;
    border: none;
    color: #d6bde4;
    cursor: pointer;
}

.btn-basket{
    background-color: transparent;
    color: #fff;
    border: none;
    
}

.btn-basket:hover{
    background-color: transparent;
    border: none;
    color: #d6bde4;
    cursor: pointer;
}

.btn-group{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}

.add-item{

}

