<body data-bs-spy="scroll" data-bs-target=".navbar">

 <!--HEADER-->

<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-transparent" data-aos="fade-down">
      <div class="container-fluid">
        <a class="navbar-brand logo-text" href="landingPage">MY</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cooperation">Cooperation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#aboutus">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!--HOME-->

  <section id="landingPage">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-nd-10">
          <h1 class="text-white display-4" data-aos="fade-left">beautiful inside created for you</h1>
          <p class="text-white"data-aos="fade-right" >We precisely adjust the personalized interior specially for you. Our team tries to
            reproduce the interior that will be the most suited to you, your character. Let your angle be YOURS.</p>
          <a href="#contact" class="btn btn-brand" data-aos="fade-up">Contact</a>

        </div>
      </div>
    </div>
  </section>

  
  </body>
